*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.navbar{
    /* border: 2px  green solid; */
    height: 80px;
    width:1280px;
}

.cardmain{
    /* border: 2px red solid; */
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly


}

.card{
    /* border: 2px blue solid; */
    height: 330px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    
    
    
}
.card .image{
    height: 230px;
    /* border: 2px red solid; */
    width: 299px;
    background-position:center;
    


}
.card span{
    /* border: 2px red solid; */


}
.card p{
    /* border: 2px red solid; */
    width: 200px;


}

.selectsection{
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    width: 58px;
    float: right;
    margin-top: -95px;
    height: 100px;    
}
.selectsection Select{
    padding: 3px;
    cursor: pointer;

}


.card .about .link{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0px 10px;
    letter-spacing: 2px; 
border-radius: 5px;

    
}
.card .about .selectitem{
    border: none;
    border-bottom: 1px black solid;
}


.card .about .addtocard{
margin-top: 5px;
}

.card:hover{  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}