*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.head{
    /* border: 2px red solid; */
    height: 419px;
    /* background: src('../Images/zomatoHead.webp'); */
    background-position: center; 
    /* background-color: black; */
}

.head img{
    width: 100%;
    height: 350px;
 
}
.headernav{
    /* width: 100%; */
    /* border: 2px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px; 
   
    padding: 25px 0px 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.link{
    text-decoration: none;
    color: white;
}

li{
    display: inline-block;
    padding: 0px 20px;
  
    cursor: pointer;

}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.mid h1{
    color: white;
    font-size: 100px;
}
.mid h3{
    color: white;
    font-size: 38px;
    margin-top: 30px;
    font-weight: lighter;
    
}

.abc {
    display: inline-block;
}

.cde{
    display: flex;
    float: right;
}

.efg li{
    background-color: red;
    width: 80px;
    height: px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
}



.search-place{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 750px;
    border-radius: 10px;
    padding: 5px 0px;
    /* border: px black solid; */


    /* width: 100%; */
    margin-left: 280px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


 .search-place .location{
    
    height: 25px;
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
    
    
} 
.search-place .search {
    height: 25px;
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
    
} 
.HeaderSearchImg{
    height: 25px;
    width: 6%;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px grey solid;

}




.mid input {
    width: 50%;
    height: 70%;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mid p{
    color: grey;
    width: 30%;
    /* text-align: center; */
    border-right: 1px solid gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.HeaderSearchInput{
    width: 50%;
    height: 70%;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: red; */
    
}


.search-place ::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  /* .search-place ::-ms-input-placeholder { 
    color: red;
  } */
  
  .ajjuxn{
    /* border: 2px red  solid; */
    color: white;
  }

  .windowtotalprice h1{
    color: white;
  }