*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.mainNvbar{
    /* border: 2px blue solid; */
    margin-top: -9px;
    margin-left: -16px;


}
.headermain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;

    /* border: 2px red solid; */
    width: 1250px;
   
    padding: 25px 0px 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

li{
    display: inline-block;
    padding: 0px 20px;
  
    cursor: pointer;
    

}

