.yourorderheading {
    text-align: center;
    
}

.mmm{
    border: 2px blue solid;
}


.singleMainDate{
    /* border: 2px red solid; */
    margin-top:10px;
    border-bottom: 2px black solid;

}

/* .maincontain{
    border: 2px   blue solid;
} */
.mainonecard{
    border: 2px rgb(172, 170, 170) solid;
    margin: 20px;
    width: 340px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.innerpart{
    margin-top: 30px;
}
.mainonecard p{
    /* border: 2px red solid; */
    width: 280px;
    font-size: 20px;
    
}