.yourorderheading {
    /* text-align: center; */
    margin-top: 20px;
    
}

.mmm{
    border: 2px blue solid;
}

.maincontain{
    margin-top: 50px;
    padding-bottom: 50px;
    border: 2px rgb(172, 170, 170) solid;

    width: 1230px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
}

.maincontain .date{
   /* display: flex;
   align-items: center; */
   /* align-items: center; */
   /* text-align: center; */
   font-size:40px;


}

.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
.singleMainDate{
    /* border: 2px red solid; */
    margin-top:10px;
    border-bottom: 2px black solid;

}

/* .maincontain{
    border: 2px   blue solid;
} */
.mainonecard{
    /* border: 2px rgb(213, 213, 213) solid; */
    margin: 20px;
    width: 340px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.mainonecard:hover{
    /* box-shadow: none; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */


}

.innerpart{
    margin-top: 30px;
}
.mainonecard p{
    /* border: 2px red solid; */
    width: 280px;
    font-size: 20px;
    text-align: center;
    
}