.Signuppage{
  
    background-position: center; 
    height: 710px; 
    width: 100%;
    overflow-y: auto;

}
.loginpage{
    background-size: cover; /* Cover the entire background */
    background-position: center; 
    height: 710px; 
    width: 100%;
    overflow-y: auto;
}
.upperFormContainer{

}
.rightside{
    /* border: 2px red solid; */
    /* width:50%; */

}

.FormMainContainer{
    width: 300px;
    height: 300px;
    position: relative;
    left: 36%;
    top: 100px;
    padding: 20px 20px;
    /* border: 1px solid; */
    border-radius:10px;
    /* background-color: white; */
    border-radius: 52px;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter:blur(10px) ;
    /* border: 2px red solid; */

    
}

.FormMainContainer  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.FormMainContainer input{
    padding: 5px 10px;
    width: 85%;
    margin: 10px 0px;
    /* margin-left: 40px; */
    position: relative;
    top: -28px;
    left: 35px;
    border: none;
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter:blur(10px) ;

   /* border: 2px red solid; */

}
.FormMainContainer .LoginPageFirstInputRow{
    border-top: 1px black solid;
}
.FormMainContainer .LoginPageInputRow{
  
    width: 100%;
    height: 70px;
}
.FormMainContainer .LoginPageInputRow .formIcon{
    /* position: relative;
    top: 18px;
    left: 0px;
    height: 28px;
    width: 30px;   */
    font-size: 25px;
}
.FormMainContainer input{
    width: 80%;
    height: 30px;
    border-radius: 52px;
}

.FormMainContainer .LoginPageInputRow .formIcon{
   position: relative;
   top: 20px;
   left: 5px;
   height: 30px;
   width: 30px;  
   

}
.FormMainContainer .FormButton{
    margin-left: 80px;
}
.FormMainContainer button{
     /* margin-left: 10px; */
    /* padding: 0px 10px; */
    background: none;
    border: none;
    /* background: black; */
    /* border: 1px white solid; */
    

    height: 45px;
    width: 150px; 
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: rgb(79, 4, 150);
}

